<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация об авторе</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" th:href="@{/bookimage.png}" type="image/png">
</head>
<body>
    <div class="sidebar">
        <a href="/api/v1/books">
            <div>Книги</div>
        </a>
        <a href="/api/v1/persons">
            <div>Читатели</div>
        </a>
        <a href="/api/v1/authors">
            <div>Авторы</div>
        </a>
        <a href="/api/v1/readings">
            <div>Выдача книг</div>
        </a>
    </div>
    <div class="container">
        <div class="data-field">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" th:value="${author.name}" readonly>
        </div>
        <table border="1">
            <tr>
                <th>Книги</th>
            </tr>
            <tr th:each = "book: ${books}">
                <td>
                    <a th:href="@{/api/v1/books/{id}(id=${book.id})}" th:text="${book.name}"></a>
                </td>
            </tr>
        </table>
        <button type="button" class="back-button" onclick="window.location.href='/api/v1/authors'">Назад</button>
    </div>
</body>
</html>