<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Выдача книг на чтение</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" th:href="@{/bookimage.png}" type="image/png">
</head>
<body>
    <div class="sidebar">
        <a href="/api/v1/books">
            <div>Книги</div>
        </a>
        <a href="/api/v1/persons">
            <div>Читатели</div>
        </a>
        <a href="/api/v1/authors">
            <div>Авторы</div>
        </a>
        <a href="/api/v1/readings">
            <div>Выдача книг</div>
        </a>
    </div>
    <table border="1">
        <tr>
            <th>Читатель</th>
            <th>Книга</th>
            <th></th>
        </tr>
        <tr th:each = "reading: ${readings}">
            <td th:text="${reading.person.name}">vasile</td>
            <td th:text="${reading.book.name}">vasile</td>
            <td>
                <a th:href="@{/api/v1/readings/{id}(id=${reading.id})}">Вернуть книгу</a>
            </td>
        </tr>
    </table>
    <a class="add-button" href="/api/v1/readings/new" style="margin-left : 320px">Выдать книгу</a>
</body>
</html>